# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/smart-contracts/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Hardhat files
/smart-contracts/cache
/smart-contracts/artifacts

# TypeChain files
/smart-contracts/typechain
/smart-contracts/typechain-types

# solidity-coverage files
/smart-contracts/coverage
/smart-contracts/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/smart-contracts/ignition/deployments/chain-31337
